.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover;
}

#song_name
{
    font-size: 25px;
    height: 50px;
}
.play_button1
{
    float: left;
    width: 130px;
    font-size: 25px;
}
.play_button2
{
    float: right;
    width: 130px;
    font-size: 25px;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
}